.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sidenav_logo {
    width: 120px;
    margin: 25px;
    filter: invert(100%);
}

.sidenav_button {
    display: flex;
    flex-direction: column;
}

.sidenav_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;

    /* justify-content: center; */
    color: white;
    background-color: black;
    margin: 5px, 10px, 5px, 10px;
    border: 0;

    border-radius: 5px;
    width: 70%;
}

.sidenav_buttons:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.12);
}

.sidenav_buttons>span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px
}

.sidenav_more {
    position: fixed;
    bottom: 3px;
}

@media (min-width: 768px) {
    .sidenavbar {
        padding: 0%;
    }
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    .sidenavbar {
        padding: 10px;
    }
}