* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color:black !important;
  color: white;

}

@media (min-width: 768px) {
  .app {
    padding: 0%;
  }
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .app {
    padding: 10px;
  }
}