.homepage {
    display: flex;
    flex-direction: row;

}

.homepage_navele {
    flex: 0.2;
}

.homepage_timeline {
    flex: 0.8;
}

@media (min-width: 768px) {
    .homepage {
        padding: 0%;
    }
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    .homepage {
        padding: 10px;
    }
}